<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<body>
    {{>header}}
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <label for="location">Enter Location Below</label>
                    <input type="text" class="form-control location-select" style="width: 30%" id="location">
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" style="margin-left: 15px; margin-top: 10px">Search</button>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <p id="location-name"> </p>
                <p id="location-forecast"> </p>
                <p id="location-details"> </p>
            </div>
        </div>
        {{>footer}}
    </div>
</body>
    <script src="/js/app.js"></script>
</html>